=begin
#Goodsender API

#Goodsender API. ### Authorization  All API requests require an API key in the `Authorization` header:  ``` Authorization: Bearer <your-api-key> ``` 

The version of the OpenAPI document: 1.0.0
Contact: support@goodsender.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module GoodSender
  class EmailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get recipient consent status
    # Retrieve the current consent status for an email address. Optionally filter by sender domain.
    # @param email [String] Email address to look up.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Optional sender domain to filter consent records by. When omitted, returns consent across all domains.
    # @return [Array<EmailAccount>]
    def get_email_consent_status(email, opts = {})
      data, _status_code, _headers = get_email_consent_status_with_http_info(email, opts)
      data
    end

    # Get recipient consent status
    # Retrieve the current consent status for an email address. Optionally filter by sender domain.
    # @param email [String] Email address to look up.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain Optional sender domain to filter consent records by. When omitted, returns consent across all domains.
    # @return [Array<(Array<EmailAccount>, Integer, Hash)>] Array<EmailAccount> data, response status code and response headers
    def get_email_consent_status_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.get_email_consent_status ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling EmailsApi.get_email_consent_status"
      end
      # resource path
      local_var_path = '/v1/emails/{email}'.sub('{' + 'email' + '}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EmailAccount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.get_email_consent_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#get_email_consent_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List email consent statuses
    # Retrieve a paginated list of email consent statuses for a domain.
    # @param domain [String] Sender domain to filter consent records by.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return. (default to 50)
    # @option opts [String] :cursor Cursor for pagination.
    # @option opts [String] :consent_status Status of the recipient&#39;s consent for receiving emails. &#39;pending&#39; &#x3D; awaiting consent email send, &#39;requested&#39; &#x3D; consent email dispatched, &#39;failed&#39; &#x3D; consent email delivery failed, &#39;granted&#39; &#x3D; recipient consented to receive emails, &#39;denied&#39; &#x3D; recipient declined to receive emails.
    # @option opts [String] :engagement_status Status of the recipient&#39;s engagement with the emails.
    # @return [EmailListResponse]
    def list_email_consents(domain, opts = {})
      data, _status_code, _headers = list_email_consents_with_http_info(domain, opts)
      data
    end

    # List email consent statuses
    # Retrieve a paginated list of email consent statuses for a domain.
    # @param domain [String] Sender domain to filter consent records by.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return. (default to 50)
    # @option opts [String] :cursor Cursor for pagination.
    # @option opts [String] :consent_status Status of the recipient&#39;s consent for receiving emails. &#39;pending&#39; &#x3D; awaiting consent email send, &#39;requested&#39; &#x3D; consent email dispatched, &#39;failed&#39; &#x3D; consent email delivery failed, &#39;granted&#39; &#x3D; recipient consented to receive emails, &#39;denied&#39; &#x3D; recipient declined to receive emails.
    # @option opts [String] :engagement_status Status of the recipient&#39;s engagement with the emails.
    # @return [Array<(EmailListResponse, Integer, Hash)>] EmailListResponse data, response status code and response headers
    def list_email_consents_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.list_email_consents ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling EmailsApi.list_email_consents"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.list_email_consents, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.list_email_consents, must be greater than or equal to 1.'
      end

      allowable_values = ["pending", "requested", "failed", "granted", "denied"]
      if @api_client.config.client_side_validation && opts[:'consent_status'] && !allowable_values.include?(opts[:'consent_status'])
        fail ArgumentError, "invalid value for \"consent_status\", must be one of #{allowable_values}"
      end
      allowable_values = ["new", "hot", "warm", "cooling", "dormant", "inactive"]
      if @api_client.config.client_side_validation && opts[:'engagement_status'] && !allowable_values.include?(opts[:'engagement_status'])
        fail ArgumentError, "invalid value for \"engagement_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/emails'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = domain
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'consentStatus'] = opts[:'consent_status'] if !opts[:'consent_status'].nil?
      query_params[:'engagementStatus'] = opts[:'engagement_status'] if !opts[:'engagement_status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.list_email_consents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#list_email_consents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request recipients' consent to receive emails from your domain
    # Send a consent message to each address so recipients can approve or reject future emails from your domain. Include the email addresses in the request body to start the consent flow. 
    # @param consent_email_request [ConsentEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConsentEmailResult]
    def request_email_consent(consent_email_request, opts = {})
      data, _status_code, _headers = request_email_consent_with_http_info(consent_email_request, opts)
      data
    end

    # Request recipients&#39; consent to receive emails from your domain
    # Send a consent message to each address so recipients can approve or reject future emails from your domain. Include the email addresses in the request body to start the consent flow. 
    # @param consent_email_request [ConsentEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConsentEmailResult, Integer, Hash)>] ConsentEmailResult data, response status code and response headers
    def request_email_consent_with_http_info(consent_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.request_email_consent ...'
      end
      # verify the required parameter 'consent_email_request' is set
      if @api_client.config.client_side_validation && consent_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'consent_email_request' when calling EmailsApi.request_email_consent"
      end
      # resource path
      local_var_path = '/v1/emails/consent'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(consent_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConsentEmailResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.request_email_consent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#request_email_consent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send an email or a batch of emails
    # Send one or more emails. Emails can be sent only to recipients who have opted in to receive communications from your domain. The response indicates how many emails were sent versus not sent, based on each recipient's consent state. 
    # @param send_email_request [SendEmailRequest] List of emails to send
    # @param [Hash] opts the optional parameters
    # @return [SendEmailResponse]
    def send_email(send_email_request, opts = {})
      data, _status_code, _headers = send_email_with_http_info(send_email_request, opts)
      data
    end

    # Send an email or a batch of emails
    # Send one or more emails. Emails can be sent only to recipients who have opted in to receive communications from your domain. The response indicates how many emails were sent versus not sent, based on each recipient&#39;s consent state. 
    # @param send_email_request [SendEmailRequest] List of emails to send
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def send_email_with_http_info(send_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.send_email ...'
      end
      # verify the required parameter 'send_email_request' is set
      if @api_client.config.client_side_validation && send_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_request' when calling EmailsApi.send_email"
      end
      # resource path
      local_var_path = '/v1/emails/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.send_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#send_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a transactional email using a template
    # Send a transactional email using a predefined template for common use cases like OTP codes, order confirmations, and new device login alerts. If the recipient has \"denied\" consent, the response returns `{\"status\": \"declined\"}` and the email is not sent. Unknown recipients are auto-registered with \"pending\" consent. The template endpoint does not change the recipient's consent. Each email includes an approve/reject footer allowing the recipient to manage future communications. Provide the template ID and any variables to fill in the placeholders. All variables are optional and will be replaced with an empty string if omitted. URL-type variables must point to the same domain as the sender's email address. 
    # @param template_email_request [TemplateEmailRequest] Template email to send
    # @param [Hash] opts the optional parameters
    # @return [TemplateEmailResponse]
    def send_template_email(template_email_request, opts = {})
      data, _status_code, _headers = send_template_email_with_http_info(template_email_request, opts)
      data
    end

    # Send a transactional email using a template
    # Send a transactional email using a predefined template for common use cases like OTP codes, order confirmations, and new device login alerts. If the recipient has \&quot;denied\&quot; consent, the response returns &#x60;{\&quot;status\&quot;: \&quot;declined\&quot;}&#x60; and the email is not sent. Unknown recipients are auto-registered with \&quot;pending\&quot; consent. The template endpoint does not change the recipient&#39;s consent. Each email includes an approve/reject footer allowing the recipient to manage future communications. Provide the template ID and any variables to fill in the placeholders. All variables are optional and will be replaced with an empty string if omitted. URL-type variables must point to the same domain as the sender&#39;s email address. 
    # @param template_email_request [TemplateEmailRequest] Template email to send
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateEmailResponse, Integer, Hash)>] TemplateEmailResponse data, response status code and response headers
    def send_template_email_with_http_info(template_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.send_template_email ...'
      end
      # verify the required parameter 'template_email_request' is set
      if @api_client.config.client_side_validation && template_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'template_email_request' when calling EmailsApi.send_template_email"
      end
      # resource path
      local_var_path = '/v1/emails/template'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(template_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.send_template_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#send_template_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
